body {
    margin: 0;
    padding: 0;
    font-family: "arial",heletica,sans-serif;
    font-size: 12px;
    background: url(../../assets/images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: fit-content;
    min-width: fit-content;
}
.theaterbody {
    background: url();
    background-color: black;
}
html {
    min-height: fit-content;
    min-width: fit-content;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
.borderr {
    padding-top: 15%;
}
.container {
    display: block;
}
.theater-container {
    text-align: center;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    height: 525px;
    overflow-x: hidden !important;
    width: 500px;
    /*position: absolute;
    top: 20%;
    left: 37%;*/
    overflow-y: scroll;
    background-color: #2a2b2e;
    border: 1px solid;
    border-color: #26bf47;
    box-shadow: 0 0 10px #26bf47;
}
.feedImg {
    height: 200px;
}
.main-container {
    text-align: center;
}
.title {
    margin-top: 20%;
}
.title-2 {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
}
li {
    list-style-type: none;
}
h1, li {
    color: #fff;
}
.url-1, .url-2, .url-3,
.url-4, .url-5, .url-6 {
    color: deepskyblue;
}
::placeholder {
    color: gray !important;
}
.mr-sm-2 {
    color: #fff !important;
    background-color: #343a40 !important;
    width: 50% !important;
}
.btn-warning {
    display: block;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-outline-warning {
    color: #fff;
    border-color: #fff;
}
.btn-outline-warning:hover {
    background-color: rgb(128, 0, 0);
    color: #fff!important;
}
.buy-tickets:hover {
    background-color: #26bf47 !important;
}
.my-sm-0:not(:disabled):not(.disabled):active {
    background-color: rgb(128, 0, 0) !important;
}
.buy-tickets:first-child:active {
    background-color: #26bf47 !important;
}
.new-search:hover {
    background-color: rgb(128, 0, 0);
    color: #fff !important;
}
.navbar {
    background-color: #2a2b2e !important;
}
.nav-link {
    color: #fff !important;
}
.form-inline{
    display: inherit !important;
}
.form-control {
    border-color: rgb(128, 0, 0);
    box-shadow: 0 0 10px rgb(128, 0, 0) !important;
}
@media only screen and (max-width : 991px) {
    .new-search {
        top:0 !important;
    }
}
@media (min-width: 1200px)  {
    .container {
        max-width: 700px !important;
    }
}
@media only screen and (max-width : 575px) {
    .form-control {
        width: 100% !important;
    }
}
