.index-body {
    margin: 0;
    padding: 0;
    font-family: "arial",heletica,sans-serif;
    font-size: 12px;
    /*background: url(../../assets/images/background1.jpg) no-repeat;*/
    background-color: black;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 100%;
}
.theaterbody {
    margin: 0;
    padding: 0;
    font-family: "arial",heletica,sans-serif;
    font-size: 12px;
    background-color: black;
    min-height: 100%;
    min-width: 100%;
}
.trending-body {
    margin: 0;
    padding: 0;
    font-family: "arial",heletica,sans-serif;
    font-size: 12px;
    background-color: black;
    min-height: 100%;
    min-width: 100%;
}
html {
    min-height: 100%;
    min-width: 100%;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
.borderr {
    padding-top: 15%;
}
.container {
    display: block;
}
.theater-container {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 25px;
    margin-bottom: 30px;
    width: 500px;
    background-color: #2a2b2e;
    background: rgba(0,5,0,0.93);
    border-radius: 10px;
    /*border: 1px solid;*/
}
.trending-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 25px;
    margin-bottom: 30px;
    width: 500px;
    background-color: #2a2b2e;
    background: rgba(0,0,10,0.93);
    border-radius: 10px;
    /*border: 1px solid;*/
}
.feedImg {
    height: 200px;
}
.main-container {
    text-align: center;
    background-color: #2a2b2e;
    background: rgba(5,0,0,0.93);
    border-radius: 10px;
    margin-bottom: 10%;
}
.title {
    margin-top: 20%;
}
.title-2 {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
    padding-top: 12%;
}
li {
    list-style-type: none;
}
h1, li {
    color: #fff;
}
.url-1, .url-2, .url-3,
.url-4, .url-5, .url-6 {
    color: #fff !important;
    background-color: rgb(128, 0, 0) !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
::placeholder {
    color: darkgray !important;
}
.mr-sm-2 {
    color: #fff !important;
    background-color: black !important;
    width: 50% !important;
}
.btn-warning {
    display: block;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-outline-warning {
    color: #fff;
    border-color: #fff;
}
.btn-outline-warning:hover {
    background-color: rgb(128, 0, 0);
    color: #fff!important;
}
.buy-tickets:hover {
    background-color: #26bf47 !important;
}
.my-sm-0:not(:disabled):not(.disabled):active {
    background-color: rgb(128, 0, 0) !important;
}
.buy-tickets:first-child:active {
    background-color: #26bf47 !important;
}
.new-search:hover {
    background-color: rgb(128, 0, 0);
    color: #fff !important;
}
.navbar {
    background-color: #2a2b2e !important;
}
.navbar-nav {
    flex-direction: row !important;
}
.theater-nav, .trending-nav {
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-toggler-icon {
    display: none !important;
}
.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    transform: scale(1.05);
}
.form-inline{
    display: inherit !important;
}
.form-control {
    border-color: rgb(128, 0, 0);
    box-shadow: 0 0 10px rgb(128, 0, 0) !important;
}
.form-control:focus {
    border-color: rgb(128, 0, 0);
    box-shadow: 0 0 10px rgb(128, 0, 0) !important;
}
.navbar-toggler {
    background-color: darkgray !important;
}
.up-btn {
    position: absolute;
    left: 95%;
    background-color: #26bf47;
    height: 40px;
    width: 40px;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 100px;
    z-index: 999;
}
.up-btn1 {
    position: absolute;
    left: 95%;
    background-color: #0000FF;
    height: 40px;
    width: 40px;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 100px;
    z-index: 999;
}
.tv-overview {
    margin-bottom: 10%;
}
.up-btn:hover, .up-btn1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container {
        max-width: 700px !important;
    }
}

@media only screen and (max-width : 991px) {
    .new-search {
        top:0 !important;
    }
    .theater-container, .trending-container {
        width: 300px !important;
    }
    .footer {
        display: none;
    }
    .up-btn, .up-btn1 {
        left: 93%;
    }
}

@media only screen and (max-width : 720px) {
    .up-btn, .up-btn1 {
        left: 91%;
    }
}

@media only screen and (max-width : 575px) {
     .form-control {
         width: 100% !important;
     }
    .up-btn, .up-btn1 {
        left: 89%;
    }
    .main-container {
        background: none;
        background-color: none;
    }
}

@media only screen and (max-width : 420px) {
    .up-btn, .up-btn1 {
        left: 85%;
    }
    .theater-container, .trending-container {
        width: 100% !important;
    }
}

    @media only screen and (max-width : 315px) {
        .up-btn, .up-btn1 {
            left: 80%;
        }
    }

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}
