body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
.feedImg {
    height: 200px;   
}
.main-container {
    text-align: center;
}
.title {
    margin-top: 15%;
}
li {
    list-style-type: none;
}
h1, li {
    color: #fff;
}
.url-1, .url-2, .url-3,
.url-4, .url-5, .url-6 {
    color: deepskyblue;
}
::placeholder {
    color: #fff !important;
}
.mr-sm-2 {
    color: #fff !important;
    background-color: #343a40 !important;
    width: 50% !important;
}
.btn-warning {
    display: block;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar {
    background-color: black !important;
}
.form-inline{
    display: inherit !important;
}
@media only screen and (max-width : 575px) {
    .form-control {
        width: 100% !important;
    }
}
