body {
    margin: 0;
    padding: 0;
    font-family: "arial",heletica,sans-serif;
    font-size: 12px;
    background-color: black;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
.borderr {
    padding-top: 15%;
}
.container {
    display: block;
    background: url("https://images.pexels.com/photos/11872650/pexels-photo-11872650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center fixed;
    border-radius: 10px;
}
.feedImg {
    height: 200px;   
}
.main-container {
    text-align: center;
}
.title {
    margin-top: 20%;
}
.title-2 {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
}
li {
    list-style-type: none;
}
h1, li {
    color: #fff;
}
.url-1, .url-2, .url-3,
.url-4, .url-5, .url-6 {
    color: deepskyblue;
}
::placeholder {
    color: gray !important;
}
.mr-sm-2 {
    color: #fff !important;
    background-color: #343a40 !important;
    width: 50% !important;
}
.btn-warning {
    display: block;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-outline-warning {
    color: #fff;
    border-color: rgb(130, 0, 0);
}
.btn-outline-warning:hover {
    color: #fff;
    background-color: rgb(130, 0, 0);
    border-color: rgb(130, 0, 0);
}
.navbar {
    background-color: black !important;
}
.form-inline{
    display: inherit !important;
}
.form-control {
    border-color: rgb(130, 0, 0) !important;
}
@media only screen and (max-width : 575px) {
    .form-control {
        width: 100% !important;
    }
}
